html,
body,
div {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}


div[data-test-id="cf-ui-select-field"]{
	margin-bottom: 20px;
}

div[data-testid="chegg-topic-selector"]{
	padding: 30px;
	background: #f5f5f5;
	position: relative;	
}

div[data-testid="chegg-topic-selector"] h3 {
	margin-bottom: 30px;
}

.close-button {
	position: absolute;
	right: 20px;
	top: 20px;
}

.error-page {
    padding: 20px;
}

.chegg-read-only-input {
	padding: .65625rem;
	border: 1px solid #d3dce0;
	color: #536171;
	font-size: .875rem;
	background-color: #f5f5f5;
	font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Helvetica,Arial,sans-serif;
}


.react-autosuggest__container .react-autosuggest__input {
	padding: .65625rem;
	font-size: .875rem;
	width: -webkit-fill-available;	
}

.react-autosuggest__suggestions-container--open {
	max-width: 350px;
	background-color: #fff;
	border: 1px solid #d3dce0;
	padding: 5px;
}

.react-autosuggest__suggestions-list {
	padding: 0px;
	margin: 0px;
	list-style-type: none;
}

.react-autosuggest__suggestion {
	padding: 5px;
	font-size: .875rem;	
	font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Helvetica,Arial,sans-serif;		
}

.react-autosuggest__suggestion--highlighted {
	color: #fff;
	background-color: #4a90e2;
}
